.header-top
  .layout-page
    h1.header-top__title
      = @shop.title.blank? ? "Продавец " + current_user.name : @shop.title

    - if current_user
      - unless @shop.user_id == current_user.id
        = link_to conversations_path(user_id: @shop.user.id), method: :post, class: "header-top__link"
          i.icon-mail
          | Связаться
    - else
      a#login_button_three.header-top__link href=""
        i.icon-mail
        | Связаться
.header-bottom
  .layout-page
    .main-pic style="background-image: url('#{image_path @shop.cover.url(:medium)}')"
    .header-bottom__title
      |На Музточке с
      =<l @shop.created_at.to_date, format: :long
    .header-bottom__text.pre-text
      - if current_user && @shop.user_id == current_user.id
        | Напишите что-нибудь о вашем магазине

    .header-bottom__btn
      - if current_user && @shop.user_id == current_user.id
        = link_to "Настроить магазин", edit_shop_path(current_user.shop), class: "button button_type_default"
.layout-page
  .no_product
    i.icon-tag.no_product-icon
    p.no_product-text Нет товаров на продажу
    - if current_user && @shop.user_id == current_user.id
      = link_to "добавить товар", new_product_path, class: 'button button_type_default'
