- if @shop.products.blank?
  = render 'shop_blank'
- else
  .header-top
    .layout-page
      h1.header-top__title
        = @shop.title.blank? ? "Продавец " + current_user.name : @shop.title
      - if @shop.country.present?
        span.header-top__link
          = @shop.city.to_s + ", " if @shop.city.present?
          = @shop.country

      - if current_user
        - unless @shop.user_id == current_user.id
          = link_to conversations_path(user_id: @shop.user.id), method: :post, class: "header-top__link"
            i.icon-mail
            | Связаться
      - else
        a#login_button_three.header-top__link href=""
          i.icon-mail
          | Связаться

      - if @shop.site.present?
        a.header-top__link href="http://#{@shop.site}" target="_blank"
          i.icon-site
          | Сайт
  .header-bottom
    .layout-page
      .main-pic style="background-image: url('#{image_path @shop.cover.url(:medium)}')"
      .header-bottom__btn
        = link_to "Настроить магазин", edit_shop_path(current_user.shop), class: "button button_type_default" if current_user == @shop.user
      .header-bottom__title
        |На Музточке с
        =<l @shop.created_at.to_date, format: :long
      .header-bottom__text
        - if @shop.description.present?
          = @shop.description + ' '
        - else
            | Лучшее место для покупки музыкальных инструментов
            - if @shop.city.present?
              = ', ' + @shop.city + ' '

  .layout-page.clearfix
    = form_tag shop_path(@shop), method: 'get', id: 'shop_filters_form'
      .filtering
        .filtering__count
          = count_products_of_shop(@shop.count_of_products)

        = hidden_field_tag 'main_filter'

        .filtering__buttons#shop_filtering__buttons
          .buttons-set.clearfix
            a.button.button_type_default href="" class="#{'button_active' if params[:main_filter] == "handmade"}" data-type="handmade"
              |Б/У и handmade
            a.button.button_type_default href="" class="#{'button_active' if params[:main_filter] == "new"}" data-type="new"
              |Новые
            a.button.button_type_default href=""  class="#{'button_active' if params[:main_filter].blank?}" data-type=""
              |Все

        = hidden_field_tag 'sort_by', params[:sort_by]
        .filtering__sort
          #sort_select.dropdown
            a.dropdown-switch.js-link href="#"
              - if params[:sort_by] == "newest"
                |Последние
              - elsif params[:sort_by] == "price_low_first"
                |По возрастанию цены
              - elsif params[:sort_by] == "price_high_first"
                |По убыванию цены
              - else
                |Выберите опцию
            ul.dropdown-list.js-dropdown-list
              li data-sort="newest"
                |Последние
              li data-sort="price_low_first"
                |По возрастанию цены
              li data-sort="price_high_first"
                |По убыванию цены
        .filtering__price
          .filtering-text
            | Макс. цена
            |&nbsp;
            i.icon-usd
          .inputbox
            = text_field_tag :max_price, params[:max_price], class: "inputbox__input"
        .filtering__action
          a.button.button_type_default href="" id="submit_shop_filter_form" Фильтр

      .layout-filters
        .filter-item
          .filter-item__head Категории
          = hidden_field_tag 'category', params[:category]
          = hidden_field_tag 'subcategory', params[:subcategory]
          = hidden_field_tag 'detail', params[:detail]

          ul.filter-list.filter-list_category#shop_filters_list
            - @categories.each do |category|
              li
                = link_to "", class: "link-grey", :data_id => category.id
                  .filter-list__title style="#{'color:#d37900;' if params[:category] == category.id.to_s}"
                    = category.title
                  .filter-list__count style="#{'color:#d37900;' if params[:category] == category.id.to_s}"
                    = category.products.where(:shop_id => @shop.id).count

                .wraper_subcategory#show_hover_subcategory
                  .wraper_subcategory_inner
                    ul.filter-list.filter-list_category_subcategory style='padding-left: 30px'
                      .filter-subcategory__head
                        = category.title

                      - category.subcategories.where(:id => @shop.products.map(&:subcategory_id)).each do |subcategory|
                        li
                          = link_to "#", class: "link-grey", :sub_data_id => subcategory.id, :data_id => category.id
                            .filter-list__title style="#{'color:#d37900;' if params[:subcategory] == subcategory.id.to_s}"
                              = subcategory.title
                      li
                        = link_to "", :data_id => category.id
                          |Все товары
                    ul.filter-list.filter-list_category_subcategory.other
                      .filter-subcategory__head Детали и принадлежности

                      - category.details.where(:id => @shop.products.map(&:detail_id)).each do |detail|
                        li
                          = link_to "#", class: "link-grey", :det_data_id => detail.id, :data_id => category.id
                            .filter-list__title style="#{'color:#d37900;' if params[:detail] == detail.id.to_s}"
                              = detail.title



        .filter-item
          .filter-item__head Бренды
          ul.filter-list.filter-list_brands
            - @brands.each_with_index do |brand, index|
              li
                a.checkbox href="#"
                  = check_box_tag "brands[]", brand.id, params[:brands] && params[:brands].include?(brand.id.to_s), :id => "checkbox_" + index.to_s, :class => "checkbox__input check__shop_form"
                  label.checkbox__label for="checkbox_#{index.to_s}"
                    =< brand.title
                .filter-list__count
                  = brand.products.where(:shop_id => @shop.id).count
          / = link_to "Все бренды", brands_path, class: "filter-more__link"

        .filter-item
          .filter-item__head Год выпуска
          = hidden_field_tag 'min_year', params[:min_year]
          = hidden_field_tag 'max_year', params[:max_year]
          ul.filter-list.filter-list_years#shop_list_years
            li
              a.link-grey href="" data-min="2011" style="#{'color:#d37900;' if params[:min_year] == '2011'}"
                .filter-list__title с 2011
            li
              a.link-grey href="" data-min="2001" data-max="2010" style="#{'color:#d37900;' if params[:min_year] == '2001'}"
                .filter-list__title 2001 - 2010
            li
              a.link-grey href="" data-min="1991" data-max="2000" style="#{'color:#d37900;' if params[:min_year] == '1991'}"
                .filter-list__title 1991 - 2000
            li
              a.link-grey href="" data-min="1981" data-max="1990" style="#{'color:#d37900;' if params[:min_year] == '1981'}"
                .filter-list__title 1981 - 1990
            li
              a.link-grey href="" data-min="1971" data-max="1980" style="#{'color:#d37900;' if params[:min_year] == '1971'}"
                .filter-list__title 1971 - 1980
            li
              a.link-grey href="" data-min="1961" data-max="1970" style="#{'color:#d37900;' if params[:min_year] == '1961'}"
                .filter-list__title 1961 - 1970
            li
              a.link-grey href="" data-min="1950" data-max="1960" style="#{'color:#d37900;' if params[:min_year] == '1950'}"
                .filter-list__title 1950 - 1960
            li
              a.link-grey href="" data-max="1950" style="#{'color:#d37900;' if params[:max_year] == '1950'}"
                .filter-list__title до 1950
          = link_to "#", :class => "filter-more__link", id: "all_years"
            .filter-list__title
              | Все года

        = render 'shared/popular'

      .layout-bricks
        .bricks.js-masonry
          - if @shop_products.present?
            - @shop_products.each do |product|
              = link_to product, class: "brick-item"
                - if product.photos.present?
                  = image_tag product.photos.first.image(:large), class: "brick-item__photo", alt: "#{product.title}", title: "Купить #{product.title}"
                .brick-item__bottom
                  .brick-item__title
                    = product.title
                  .brick-item__price
                    |$
                    =< number_to_currency(product.price)
          - else
            .nosearch По вашему запросу ничего не найдено

        = render 'shared/paginator'

