li.dialog-item
  = image_tag message.sender.avatar(:chat), :class => "dialog-item__avatar"
  .dialog-item__text
  	= message.text
  .dialog-item__footer
  	=> link_to message.sender.name, shop_path(message.sender.shop.slug)
    .dialog-item__date
    	=< time_ago_in_words message.created_at
