- if @conversation.sender_id == current_user.id or @conversation.recipient_id == current_user.id
  = render 'users/profile_menu'
  .layout-small#chat
    .dialog__wrap
      .dialog__back
        = link_to conversations_path, :class => "button button_type_default button_size_small"
          i.icon-arrow
          | Все сообщения
      .dialog__head
        => 'Диалог с ' + @conversation.companion_name(current_user)
        = link_to @conversation, method: :delete, :class => "link-grey"
          i.icon-remove data-original-title="Удалить" data-placement="top" data-toggle="tooltip" title=""
      ul.list-dialogs
      	- @conversation.messages.each do |message|
      		= render partial: 'message', locals: { message: message }
      form id="message_form" action=""
        input name="sender_id" value="#{@conversation.id}" id="conversation_id" type="hidden"
        .form__row
          .inputbox.inputbox_type_textarea
            textarea.inputbox__input cols="30" id="send_input" name="" placeholder=("Ваше сообщение") rows="10"
        .form__row
          input.button.button_type_default type="submit" value=("Отправить сообщение") id="send_button"
