<% unless current_user.errors[:current_password].blank? %>
  $('#password_edit_popup #user_current_password').parent().addClass('inputbox_error');
  $('#current_password_messages').show();
<% end %>

<% unless current_user.errors[:password].blank? %>
  $('#password_edit_popup #user_password').parent().addClass('inputbox_error');
<% end %>

$('input').keydown(function(){
  $(this).parent().removeClass('inputbox_error')
  $('#current_password_messages').hide();
})
