= render 'profile_menu'
.layout-page
  - if @favorites.blank?
    .no_product
      <i class="icon-tag no_product-icon"></i>
      <p class="no_product-text">Вы еще не добавили товар</p>
      <a class="button button_type_default" href="#{root_path}">Посмотреть предложения</a>
  - else
    .goods__wrap
      .favorites__wrap
        - @favorites.each do |favorite|
          .favorite-item.favorite-item_type_active.clearfix
            = link_to favorite.product
              = image_tag favorite.product.photos.first.image(:medium), class: 'favorite-item__img', alt: "#{favorite.product.title}", title: "Купить #{favorite.product.title}"
            .favorite-item__info
              .info-head
                = link_to favorite.product, class: "info-head"
                  = favorite.product.title
              .info-line
                = "Состояние: " + favorite.product.condition
              .info-line
                =  "Опубликовано " + time_ago_in_words(favorite.product.created_at) + " назад"
            .favorite-item__data
              .data-amount
                =< number_to_currency(favorite.product.price) + " $"
            .favorite-item__action
              = link_to favorite, method: 'DELETE', class: "action-delete"
                i.icon-remove

        = render 'shared/paginator'
