#delet_popup.popup.popup_open
  .int_popup__wrap
    = form_tag '', method: 'DELETE', class: 'popup__content'
      .int_popup_title Почему удаляете товар?
      .block_int_button
        - @product_deletion_reasons.each do |reason|
          label.button.button_type_default.reason-button for="reason_#{reason.id}"
            input type='radio' name='reason_id' id="reason_#{reason.id}" value=reason.id
            span= reason.name_ru
        a.button.button_type_default.delete_abort Отмена
