.popup-overlay
#email_blank.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      = image_tag "logo/logo.svg"
    br
    br
    p
      h4 Пожалуйста, укажите свой e-mail.
    p
      = link_to 'Настройки аккаунта', edit_user_path(current_user)
