.popup-overlay
#login_popup.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      = image_tag "logo/logo.svg"
      = form_tag user_session_path, :remote => true, :class => "form form_login"
        .form__row
          .inputbox.inputbox_style_dark
            = text_field_tag "user[email]", "",:class => "inputbox__input", :placeholder => "Электронная почта", :autocomplete => :off
        .form__row
          .inputbox.inputbox_style_dark
            = password_field_tag "user[password]", "",:class => "inputbox__input", :placeholder => "Пароль"
        .form__row
          #log_error_messages.popup__error style="display:none"
            |Неверное имя пользователя или пароль
        .form__row.clearfix
          = submit_tag "Войти", :class => "button button_type_default"
          #recovery_button.form__more
            a href=""  Забыли пароль?
      .login-dont
        | Нет аккаунта?
        a href="" id="register_popup_button"
          =< "Зарегистрируйтесь"
      .social-login.social-login_popup
        .social-login__head Войти с помощью
        .clearfix
          .social-login__item
            = link_to "Вконтакте", user_omniauth_authorize_path(:vkontakte), class: "button button_type_vk button_block"
          .social-login__item
            = link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "button button_type_fb button_block"
