- if params[:set_password].present?
  - if @user
    .popup-overlay style="display:block;"
    #new_password_popup.popup.popup_open style="display:block;"
      .popup__wrap
        .popup__content
          = image_tag "logo/logo.svg"
          = form_for @user, :remote => true, :url => set_password_user_path(@user), :class => "form form_login js-form-validation" do |f|
            .form__row
              .inputbox.inputbox_style_dark
                = f.password_field :password, :class => "inputbox__input", :placeholder => "Введите пароль (мин. 8 символов)", :autocomplete => :off, 'data-validation-length' => 'min8', 'data-validation-error-msg' => 'Введите пароль (мин. 8 символов)', 'data-validation' => :length
            .form__row
              .inputbox.inputbox_style_dark
                = f.password_field :password_confirmation, :class => "inputbox__input", :placeholder => " Введите повторно", 'data-validation' => :confirmation, 'data-validation-error-msg' => 'Пароли не совпадают', 'data-validation-confirm' => 'user[password]'
            .form__row.clearfix
              = submit_tag "Войти", :class => "button button_type_default"
