#password_edit_popup.popup.popup_open style="display:block"
  .popup__wrap
    = link_to root_path, :class => "popup__close"
      i.icon-cancel
    .popup__content
      = image_tag "logo/logo.svg"
    .form
      .form__row
        .form__label
          |Пароль успешно изменен!
