.popup-overlay
#subscribe_popup.popup.popup_open
  .popup__wrap
    a.popup__close
      i.icon-cancel
    .popup__content
      = image_tag "logo/logo.svg"
    br
    br
    br
    p
      h4 Спасибо. Подписка оформлена

