.page-banner.clearfix style="margin-top: 40px"
  .layout-page.clearfix_banners
    - banner_guitar = Banner.find_by(position: 1)
    - if banner_guitar.present?
      a href="#{banner_guitar.link}" class="banner main-banner" style="background: url('#{image_path banner_guitar.image.url(:big)}')"
        span.main-banner__text
          = banner_guitar.title


    - banner_percussion = Banner.find_by(position: 2)
    - if banner_percussion.present?
      a href="#{banner_percussion.link}" style="background: url('#{image_path banner_percussion.image.url(:small)}')" class="banner small-banner banner-shock"
        span.small-banner__text
          = banner_percussion.title


    - banner_winds = Banner.find_by(position: 3)
    - if banner_winds.present?
      a href="#{banner_winds.link}" style="background: url('#{image_path banner_winds.image.url(:small)}')" class="banner small-banner"
        span.small-banner__text
          = banner_winds.title


    - banner_pedals = Banner.find_by(position: 4)
    - if banner_pedals.present?
      a href="#{banner_pedals.link}" style="background: url('#{image_path banner_pedals.image.url(:medium)}')" class="banner banner-pedal"
        span.banner__text
          = banner_pedals.title


    - banner_sounds = Banner.find_by(position: 5)
    - if banner_sounds.present?
      a href="#{banner_sounds.link}" style="background: url('#{image_path banner_sounds.image(:medium)}')" class="banner"
        span.banner__text
          = banner_sounds.title
