- if params[:notice] == 'ok'
  .flash-message id="flash__open"
    .flash-message__inner
      | Пароль успешно изменен
      a.flash-message__close id="flash__close"
        i.icon-cancel
/ .page-top style=("background-image: url(assets/bg/about_top.png)")
/   .layout-page
/     .page-top__text
/       | Лучшее место для музыкантов

- if params[:search] or params[:category] or params[:subcategory] or params[:detail] or params[:brands] or params[:min_year] or params[:max_year] or params[:main_filter]
  div style="width:100%; height:61px"
- else
  = render 'home/banners'


.layout-page.clearfix
  = form_tag root_path, method: 'get', id: 'filter_form'
    .filtering
      = hidden_field_tag 'main_filter'
      .filtering__buttons
        .buttons-set.clearfix
          a.button.button_type_default href="" class="#{'button_active' if params[:main_filter] == "handmade"}" data-type="handmade"
            |Б/У и handmade
          a.button.button_type_default href="" class="#{'button_active' if params[:main_filter] == "new"}" data-type="new"
            |Новые товары
          a.button.button_type_default href=""  class="#{'button_active' if params[:main_filter].blank?}" data-type=""
            |Все

      = hidden_field_tag 'sort_by', params[:sort_by]
      .filtering__sort
        #sort_select.dropdown
          a.dropdown-switch.js-link href="#"
            - if params[:sort_by] == "newest"
              |Последние
            - elsif params[:sort_by] == "price_low_first"
              |По возрастанию цены
            - elsif params[:sort_by] == "price_high_first"
              |По убыванию цены
            - else
              |Выберите опцию
          ul.dropdown-list.js-dropdown-list
            li data-sort="newest"
              |Последние
            li data-sort="price_low_first"
              |По возрастанию цены
            li data-sort="price_high_first"
              |По убыванию цены
      .filtering__price
        .filtering-text
          | Макс. цена
          |&nbsp;
          i.icon-usd
        .inputbox
          = text_field_tag :max_price, params[:max_price], class: "inputbox__input"
      .filtering__action
        a.button.button_type_default href="" id="submit_filter_form" Фильтр
    - if params[:search]
      input#search_param type='hidden' name='search' value=(params[:search])
      - if @products.count > 0
        .result_name
          |Найдено по запросу
          =< " “"
          = params[:search]
          = "”"

    .layout-filters
      .filter-item
        .filter-item__head Категории
        = hidden_field_tag 'detail', params[:detail]
        ul.filter-list.filter-list_category
          - @categories.each do |category|
            li
              = link_to category, class: "link-grey"
                .filter-list__title style="#{'color:#d37900;' if params[:category] == category.id.to_s}"
                  = category.title
                .filter-list__count style="#{'color:#d37900;' if params[:category] == category.id.to_s}"
                  =< category.products.count

              - unless category.title == "Прочее"
                .wraper_subcategory#show_hover_subcategory
                  ul.filter-list.filter-list_category_subcategory
                    .wraper_icon_category
                      .filter-subcategory__head
                        = category.title
                        = link_to "Смотреть все", category
                      img src="#{image_path category.iconic}"

                    - category.subcategories.each do |subcategory|
                      li
                        = link_to subcategory_path(subcategory.category, subcategory), class: "link-grey"
                          .filter-list__title style="#{'color:#d37900;' if params[:subcategory] == subcategory.id.to_s}"
                            = subcategory.title

                  - unless category.title == "Аксессуары & Разное"
                    ul.filter-list.filter-list_category_subcategory.other id="details-list"
                      .filter-subcategory__head Детали и принадлежности

                      - category.details.each do |detail|
                        li
                          = link_to "#", class: "link-grey", :det_data_id => detail.id, :data_id => detail.category.slug
                            .filter-list__title style="#{'color:#d37900;' if params[:detail] == detail.id.to_s}"
                              = detail.title

      .filter-item
        .filter-item__head Бренды
        ul.filter-list.filter-list_brands
          - @brands.each_with_index do |brand, index|
            li
              a.checkbox href="#"
                = check_box_tag "brands[]", brand.id, params[:brands] && params[:brands].include?(brand.id.to_s), :id => "checkbox_" + index.to_s, :class => "checkbox__input check__form"
                label.checkbox__label for="checkbox_#{index.to_s}"
                  =< brand.title
        = link_to "Все бренды", brands_path, class: "filter-more__link"




      .filter-item
        .filter-item__head Год выпуска
        = hidden_field_tag 'min_year', params[:min_year]
        = hidden_field_tag 'max_year', params[:max_year]
        ul.filter-list.filter-list_years
          li
            a.link-grey href="" data-min="2011" style="#{'color:#d37900;' if params[:min_year] == '2011'}"
              .filter-list__title с 2011
          li
            a.link-grey href="" data-min="2001" data-max="2010" style="#{'color:#d37900;' if params[:min_year] == '2001'}"
              .filter-list__title 2001 - 2010
          li
            a.link-grey href="" data-min="1991" data-max="2000" style="#{'color:#d37900;' if params[:min_year] == '1991'}"
              .filter-list__title 1991 - 2000
          li
            a.link-grey href="" data-min="1981" data-max="1990" style="#{'color:#d37900;' if params[:min_year] == '1981'}"
              .filter-list__title 1981 - 1990
          li
            a.link-grey href="" data-min="1971" data-max="1980" style="#{'color:#d37900;' if params[:min_year] == '1971'}"
              .filter-list__title 1971 - 1980
          li
            a.link-grey href="" data-min="1961" data-max="1970" style="#{'color:#d37900;' if params[:min_year] == '1961'}"
              .filter-list__title 1961 - 1970
          li
            a.link-grey href="" data-min="1950" data-max="1960" style="#{'color:#d37900;' if params[:min_year] == '1950'}"
              .filter-list__title 1950 - 1960
          li
            a.link-grey href="" data-max="1950" style="#{'color:#d37900;' if params[:max_year] == '1950'}"
              .filter-list__title до 1950
        = link_to "#", :class => "filter-more__link", id: "all_years"
          .filter-list__title
            | Все года
      = render 'shared/popular'

  = render 'shared/promo'

  .layout-bricks
    - if @products.count > 0
      .bricks.js-masonry
        - @products.each do |product|
          = link_to product, class: "brick-item"
            - unless product.photos.blank?
              = image_tag product.photos.first.image(:large), class: "brick-item__photo", alt: "#{product.title}", title: "Купить #{product.title}"
            .brick-item__bottom
              .brick-item__title
                = product.title
              .brick-item__price
                |$
                =< number_to_currency(product.price)
    - else
      .nosearch По вашему запросу ничего не найдено
    = render 'shared/paginator'
