.flash-message id="flash__open__reset_password"
  .flash-message__inner
    | Мы отправили Вам письмо с инструкциями по сбросу пароля.
    a.flash-message__close id="flash__close_reset_password"
      i.icon-cancel
