(function() {
  $('.layout').prepend('<%=j render partial: "flash_for_reset" %>')
  $('#recovery_popup').hide();
  setTimeout(function(){
    $('#flash__open__reset_password').fadeOut('fast');
  }, 5000)
  $('body').removeClass('body-popup_open');
  $('.popup-overlay').hide()
}());
