.article-top style=("background-image: url(assets/bg/about_top.png)")
  .layout-small
    .article-top__text
      | Помогая вам в выборе лучшего,
      |  мы сами становимся немного лучше.
.article
  .layout-small
    .article__title
      | Музточка — это выгодные, оперативные и безопасные сделки между музыкантами.
      |  Для этого наша команда осуществляет контроль за всем контентом ресурса.
    .article-sub__title
      | Мы – дружеское сообщество, поэтому здесь нет места некачественным товарам, неприязни и мошенничеству.
    .article__text
      | Работая над сервисом Музточка, мы мечтали создать не просто ресурс тематических объявлений, а прежде всего –
      | дружеское сообщество, которое бы объединяло людей, влюбленных в музыку.
    .quote
      | Мы, авторы проекта Музточка, сами являемся профессиональными музыкантами, поэтому отлично знаем, сколько зачастую приходится тратить времени и сил, чтобы найти подходящие инструменты или оборудование на многочисленных форумах и сайтах. Нам давно не хватало единого комфортного ресурса, где музыкант мог бы легко купить, продать, сдать в аренду или взять напрокат любой инструмент  – от варгана до органа.
    .article__text
      | Так появилась Музточка – удобный и практичный сервис, созданный своими для своих. К примеру, прежде чем вы разместите здесь свои объявления, мы дадим вам полезные советы, как сделать их более эффективными и интересными для широкой аудитории. Одним словом, на Музточке вы всегда находитесь среди друзей и единомышленников.
    .article__text
      | Винтаж, ретро, раритеты, настоящие сокровища былых эпох или мега-продвинутые аппараты будущего – Музточка открывает неограниченный спектр музыкальных товаров и услуг. Присоединяйтесь и убеждайтесь, добро пожаловать в нашу теплую компанию!
    a.button.button_type_default id="feedback_button" href=""  Свяжитесь с нами

