.brands_location-top
  .layout-page
    .brands_location-top__text
      |Ознакомся с лучшими предложениями в твоем городе!
.brands_location.clearfix
  .layout-page
    .brands_location-dropdown
      .form__label Страна
      #demo.dropdown
        a.dropdown-switch.js-link href="#" Выберите страну
        ul.dropdown-list.js-dropdown-list
          li Option 1
          li Option 2
          li Option 3
    .brands-item.clearfix
      .brands_ins
        - ('а'..'я').each do |alpha|
          = link_to alpha, cities_path(:alpha => alpha)

        .btn-position
          = link_to "Все", cities_path, :class => "button button_type_default button_active button_size_small"

    - @products.group_by(&:initial).each do |initial, products|
      br
      .brands-item
        - products.each_slice(10) do |slice|
          .brands-tab
            - slice.each do |product|
              a href="#{cities_path}/#{Translit.convert(product.city, :english).downcase}"
                = product.city

    br
    .brands-item
      .brands_ins
        - ('а'..'я').each do |alpha|
          = link_to alpha, cities_path(:alpha => alpha)

        .btn-position
          = link_to "Все", cities_path, :class => "button button_type_default button_active button_size_small"
