.faq-top style=("background-image: url('assets/bg/about_top.png')")
  .layout-small
    .faq-top__title
      | FAQ
    .faq-top__text
      | Все что вы хотели узнать,
      br/
      | но стеснялись спросить
.faq
  .layout-small
    .condition-item
      .condition__title
        | Как покупать на Музточке?
      .condition__text
        | Музточка не продает товары. Все сделки заключаются между продавцом   и покупателем по их собственному усмотрению и волеизъявлению. В свою очередь, мы тщательно следим за качеством и актуальностью размещаемой пользователями информации. Поэтому, уделите особое внимание и время изучению товара, который вы хотите приобрести. Задайте необходимые вопросы продавцу и уточните условия доставки перед покупкой.
    .condition-item
      .condition__title
        | Как редактировать объявление?
      .condition__text
        | Для редактирования кликните на “Карандаш” напротив товара в личном кабинете, в разделе “Товары”.
    .condition-item
      .condition__title
        | Как удалить / деактивировать объявление?
      .condition__text
        | Чтобы удалить товар кликните на “Корзину” напротив товара в личном кабинете, в разделе “Товары”. Также, вы можете временно деактивировать объявление не удаляя его. Для этого выберите “Не активен”.
    .condition-item
      .condition__title
        | Могу ли я публиковать много объявлений одновременно?
      .condition__text
        | Если вы  хотите разместить на Музточке большой список товаров, пожалуйста, используйте CSV файл либо
        a id="feedback_button_alt" href=""  cвяжитесь с нами.
    .condition-item
      .condition__title
        | Может ли объявление быть удалено автоматически        по каким-либо причинам?
      .condition__text
        | В настоящее время размещение объявлений на Музточке беcсрочное. В то же время, публикация может быть удалена Администрацией ресурса без предупреждения в случае нарушения
        a href="/terms_of_use"  пользовательского соглашения.
    .condition-item
      .condition__title
        | Как определить и указать состояние товара?
      .condition__text
        | Вы можете найти наши описания
        a href="/condition"  здесь.
    .condition-item
      .condition__title
        | Какие товары квалифицируются как “Handmade”?
      .condition__text
        | Экземпляры ручной работы - это созданные вне промышленных производственных линий вещи. Не являются ручной работой отреставрированные серийные инструменты или оборудование. Например, гитару Gibson с самостоятельно замененным грифом и колками нельзя считать инструментом ручной работы.
    .condition-item
      .condition__title
        | Могу ли я использовать для своих объявлений фотографии из каталогов?
      .condition__text
        | Размещение фотографий из каталогов допускается для объявлений о продаже абсолютно новых экземпляров магазинов. Использование не оригинальных изображений и фотографий для продажи бывшего в употреблении оборудования и инструментов категорически запрещено.

    .dialog__back
      = link_to root_path, class: "button button_type_default"
        i.icon-arrow
        | Вернуться на главную

