.condition-top.bg-center.add-wrapper style=("background-image: url(assets/bg/bg_ad.png)")
  .layout-small.layout__title
    .condition-top__text
      | Как работает реклама
      br/
      | на Музточке
.condition
  .layout-small
    .condition-sub__title
      | Премиум контент - это выделенный блок сверху всех объявлений, который постоянно отображается на стартовой странице, в результатах поиска и страницах категорий. Товары из Премиум контента получают в 10 раз больше просмотров и продаются в 3 раза быстрее.
    .condition-item
      .condition__title
        | Как работает реклама в Премиум контенте?
      .condition__text
        | После оплаты объявление сразу же начинает с интервалами отображаться в блоке “Премиум контент” до исчерпания кликов. Вы оплачиваете не показы, а исключительно прямые переходы на ваш товар. Количество кликов вы выбираете самостоятельно согласно тарифу.
    .condition-item
      .condition__title
        | Оплата рекламы
      .condition__text
        | Оплата производится прямо на сайте через банковскую систему безопасных платежей LiqPay. Вы не предоставляете третьим лицам персональные данные, банковские реквизиты и номер кредитной/дебетной карточки.
    .add-tariffs__wrapper
      .add-tariffs__title Стоимость Премиум контента
      .add-tariffs__text
        | Мы предлагаем следующие тарифы:
      .add-tariffs__item 500 кликов - $1 ($0,002 за клик)
      .add-tariffs__item 2000 кликов - $3 ($0,0015 за клик)
    .condition-item.last
      .condition__title
        | Музточка может выборочно помещать объявления в Премиум контент бесплатно
      h3.condition-list__title Наши критерии:
      ol.condition-list
        li
          | Качественные фотографии. Чтобы правильно презентовать товар необходимы четкие предметные снимки, хорошее освещение                    и правильные ракурсы. Воспользуйтесь нашими советами.
        li
          | Содержательное описание. Подробное описание товара имеет огромное преимущество для привлечения внимание потенциального покупателя. При этом учтите, что мы запрещаем использовать в описании только ЗАГЛАВНЫЕ буквы и сплошной выделенный шрифт.
        li
          | Интересная цена. Музточка помогает пользователям заключать выгодные сделки. Более чем приемлемая цена на товар - весомый аргумент при продаже. Мы обращаем внимание на “вкусные предложения”.
        li
          | Крутые экземпляры. Уникальные, эксклюзивные, редкие вещи всегда заставят обратить на себя внимание. Мы с удовольствием представим     их для всеобщего обозрения в первую очередь.
    .dialog__back
      - if current_user
        = link_to goods_user_path(current_user), class: "button button_type_default"
          i.icon-arrow
          | Вернуться к товарам
      - else
        = link_to root_path, class: "button button_type_default"
          i.icon-arrow
          | Вернуться на главную
