.license
  .bg_block
    .layout-small
      |Пользовательское  соглашение
  .layout-small
    ol.list_style_license
      li
        .condition__title Предмет пользовательского соглашения
        ol
          li
            |Предметом настоящего Пользовательского соглашения является регулирование правоотношений в форме публичного договора (оферты) между собственником ресурса, далее – «Администрация», как правообладателем интернет-сервиса, расположенного в сети Интернет по адресу
            a href="/"  muztochka.com
            |  (далее - «Интернет-сервис»), и физическим/юридическим лицом-пользователем сети Интернет,  далее - «Пользователь», по поводу условий и порядка использования Интернет-сервиса.
          li Положения настоящего Пользовательского соглашения являются обязательными для всех Пользователей, зарегистрировавшихся посредством Интернет-сервиса.
          li Пройдя процедуру регистрации, Пользователь считается ознакомленным и принявшим условия Пользовательского соглашения в полном объеме, без каких-либо оговорок и исключений.
      li
        .condition__title Права и обязанности сторон
        ol
          li
            |  Администрация имеет право:
            ol
              li по своему усмотрению создавать, изменять, отменять Пользовательское соглашение без предварительного уведомления Пользователя;
              li по своему усмотрению ограничить доступ к любой информации, размещённой Пользователем;
              li удалить информацию, размещённую Пользователем, учётную запись Пользователя;
              li отказать в регистрации учётной записи Пользователю, учётная запись которого была ранее удалена за нарушение условий Соглашения;
              li использовать файлы cookie для упрощенного доступа пользователя    к некоторым сервисам, а также для сбора статистической информации с целью повышения эффективности взаимодействия пользователя      с Интернет-сервисом, а также для получения информации, связанной  с маркетинговыми мероприятиями (файл cookie – это программный файл, содержащий строку символов и отправляемый на компьютер пользователя, который посещает определенную страницу веб-сайта. При повторном посещении этого веб-сайта такой файл позволяет идентифицировать браузер пользователя. Файлы cookie способны хранить настройки пользователя и другие сведения).
          li
            span.license_title2 Администрация обязуется:
            ol
              li осуществлять защиту учетной записи Пользователя от неправомерного доступа, уничтожения размещённой Пользователем информации, а также от иных неправомерных действий в отношении такой информации всеми находящимися в её распоряжении техническими средствами;
              li в случае размещения Пользователем информации, распространение которой ограничено или запрещено законодательством, либо вынести Пользователю предупреждение и удалить такую информацию, либо удалить учётную запись Пользователя, либо применить одну или несколько мер одновременно;
              li предоставить уполномоченным органам государственной власти всю доступную информацию о Пользователе в случаях, установленных законодательством.
          li
            span.license_title2 Пользователь имеет право:
            ol
              li осуществлять размещение информации и пользоваться Интернет-сервисом на условиях Пользовательского соглашения;
              li в любой момент потребовать от Администрации скрытия от прочих пользователей Интернет-сервиса всей предоставленной им информации, а также собственной учетной записи Пользователя.
          li
            span.license_title2 Пользователь обязуется:
            ol
              li предоставить достоверную информацию о себе и товаре;
              li при распространении информации, создателем которой Пользователь не является, обеспечить включение в её состав достоверных сведений об обладателе этой информации или об ином лице, распространяющем информацию, в форме и объёме, которые достаточны для идентификации такого лица;
              li не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность;
              li не использовать нецензурные и оскорбительные выражения;
              li не нарушать работоспособность сайта путём размещения информации,
              li содержащей вирусы, создания дополнительной   нагрузки на сервер, применением программ, не обусловленных функциональным содержанием Интернет-сервиса и иными способами;
              li не использовать Интернет-сервис для рекламы и продвижения сторонних интернет-ресурсов, сайтов, магазинов, студий и т.д. без согласия Администрации;
              li не указывать в размещаемых на Интернет-сервисе объявлениях ссылки на другие сайты, где может продаваться данный товар;
              li не использовать в объявлении написание текстов полностью заглавными буквами;
              li не использовать в заголовке объявлений восклицательные, вопросительные знаки, многоточия и другие знаки;
              li не использовать транслитерацию (написание русских слов  латинскими буквами);
              li не использовать фотографии/видео товара, содержащие какую-либо рекламную информацию сторонних интернет-ресурсов, сайтов, магазинов, студий и т.д., в том числе ссылки на них, номера телефонов и т.п.;
              li не использовать фотографии/видео товара, не имеющие смысловой связи с текстом объявлений и не позволяет проиллюстрировать товар, содержат абстрактные рисунки, изображения людей полностью или частично и т.д.;
              li не использовать фотографии/видео плохого качества;
              li размещать объявление в рубрику, строго соответствующую назначению товара;
              li не размещать одновременно более одного идентичного по сути и содержанию объявления.
      li
        .condition__title Ограничение ответственности
        ol
          li
            span.license_title2 Пользователь соглашается с тем, что:
            ol
              li Администрация не гарантирует отсутствия ошибок и сбоев, в том числе в отношении работы программного обеспечения. Администрация предпримет все усилия для устранения каких-либо сбоев и ошибок, в случае их возникновения, в максимально короткие сроки.
              li Администратор не является стороной по сделке между Покупателем и Продавцом, совершенных в результате использования Интернет-сервиса и не отвечает по обязательствам сторон, участвующих в ней.
              li Администрация не гарантирует, что услуги Интернет-сервиса полностью будут соответствовать требованиям Пользователя, а также предоставляться непрерывно и безошибочно.
              li Администрация не гарантирует, что качество товаров, услуг или информации, приобретенных или полученных с помощью Интернет-сервиса, будет полностью соответствовать ожиданиям и/или требованиям Пользователя.
              li Администрация не несет ответственности за содержание размещенных Пользователями объявлений.
              li Администрация не несет ответственности за любые прямые либо косвенные убытки, произошедшие из-за использования либо невозможности использования Интернет-сервиса, из-за несанкционированного доступа к учетной записи Пользователя из-за мошеннической деятельности третьих лиц.
      li
        .condition__title Другие условия
        ol
          li Размещая объявление на Интернет-сервисе, Пользователь предоставляет Администрации на все материалы, на которые распространяются права интеллектуальной собственности, переуступаемую, передаваемую в порядке сублицензирования, свободную от роялти, лицензию на использование любых материалов, на которые распространяются права интеллектуальной собственности, размещаемых им на Интернет-сервисе.
          li
            |Предоставляя свои персональные данные Интернет-сервису, Пользователь дает Администрации согласие на обработку своих персональных данных. Согласие на обработку персональных данных предоставляется в момент регистрации Пользователя.
            ol
              li В частности, Пользователь дает свое согласие на обработку его персональных данных, в том числе, на любое действие или совокупность действий, таких как сбор, регистрация, накопление, хранение, адаптирование, изменение, восстановление, использование и распространение (распространение, реализация, передача), обезличивание, уничтожение персональных данных, в том числе с использованием информационных (автоматизированных) систем.
          li
            | Пользователь, считающий, что его права и интересы нарушены из-за действий Администрации или третьих лиц в связи с размещением  на Интернет-сервисе какой-либо информации, направляет обоснованную претензию в службу поддержки
            = mail_to " info@muztochka.com"
          li В случае принятия нормативно-правовых актов органами власти, затрагивающих целиком или в части функционирование Интернет-сервиса, Администрация сохраняет за собой право внесения любых изменений в функционирование Интернет-сервиса, направленных на приведение его деятельности в соответствие с новыми нормами.
          li Никакое положение или условие Пользовательского соглашении не может пониматься как установление между Администрацией и Пользователем отношений по совместной деятельности либо каких-то иных гражданско-правовых отношений, прямо не предусмотренных данным Пользовательским соглашением.
