.condition-top.bg-no-repeat style=("background-image: url(assets/bg/bg_why.jpg)")
  .layout-small.layout__title
    .condition-top__text
      | Почему Музточка?
.condition
  .layout-small
    .condition-sub__title
      | Музточка предлагает оптимальный набор инструментов для покупки и продажи музыкальных инструментов и оборудования. Четкая структура навигации обеспечивает простоту восприятия информации, удобство поиска и выбора.
    = Content.find_by(title: "faq").description.try(:html_safe) if Content.find_by(title: "faq").present?

    / .dialog__back
    /   = link_to root_path, class: "button button_type_default"
    /     i.icon-arrow
    /     | Вернуться на главную

