.layout-page
  .error404-container
    .error404-title
      | 404
    .error404-title_sub
      | Ошибка. Страница не найдена.
    .error404-text
      | Ошибка URL или информация которую
      br/
      | вы ищете была скрыта или удалена.
    .error404-btn
      = link_to root_path, :class => "button button_type_default"
        i.icon-arrow
        | Вернуться на главную



