doctype html
html
  head
    title Muztochka
      meta charset="utf-8"
      meta content="6931f3c03ff07d8e" name="yandex-verification"
      meta content="noindex, nofollow" name="robots"
      = stylesheet_link_tag 'application', media: 'all'
      = javascript_include_tag 'application'
      script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"

  body bgcolor="#F1F1EA"
    table style="align:center; margin:0px auto;" bgcolor="#F1F1EA" border="0" cellpadding="0" cellspacing="0" width="600"
      tr
        td height="40"
      tr
        td
          table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" style="border-radius: 2px" width="600px"
            tr
              td
                table align="center" border="0" cellpadding="0" cellspacing="0" width="520"
                  tr
                    td height="40"
                  tr
                    td height="40" style="padding-left: 40px"
                      = link_to "https://muztochka.com"
                        = image_tag "email/logo.png"
                  tr
                    td height="20"
                  tr
                    td
                      div style="background-image:url(#{asset_path('email/active1.jpg')}); height:160px; width:600px; font-family: 'PT Sans', Arial, sans-serif; font-size: 24px; color: #fff"
                  tr
                    td height="20"
                  tr
                    td
                      p style="color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 30px 0; padding:0 40px;"  Муzточка — это торговая площадка, где музыканты покупают и продают свои инструменты и снаряжение.
                      p style="color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 30px; line-height: 24px; font-weight: 700; color:#d48110; margin: 0 0 30px 0; padding-left: 40px; " Преимущества Муzточки:
                  tr
                    td
                      ul style="margin: 0 0 30px 0;"
                        li style="margin-left: 60px; line-height: 24px; padding: 10px 40px 10px 20px; list-style-image: url(#{asset_path('email/list_style.png')});" Каждый зарегистрированный пользователь при размещении первого объявления автоматически получает персональный магазин.
                        li style="margin-left: 60px; line-height: 24px; padding: 10px 40px 10px 20px; list-style-image: url(#{asset_path('email/list_style.png')});"Размещение объявлений абсолютно бесплатно.
                        li style="margin-left: 60px; line-height: 24px; padding: 10px 40px 10px 20px; list-style-image: url(#{asset_path('email/list_style.png')});"Муzточка объединяет узконаправленную аудиторию пользователей.
                        li style="margin-left: 60px; line-height: 24px; padding: 10px 40px 10px 20px; list-style-image: url(#{asset_path('email/list_style.png')});"Всё общение между пользователями Муzточки        осуществляется напрямую.
                  tr
                    td
                      a href="#{why_muzpoint_url}/?utm_source=emai&utm_medium=trigger&utm_campaign=welcome1" style="border-radius: 2px; text-decoration: none; height: 40px; line-height: 40px; display: inline-block; padding: 0 40px;font-family: 'PT Sans', Arial, sans-serif; font-size: 14px; text-align: center; color: #fff; background-color: #D47A00; margin-left: 40px;" Узнать все преимущества
                  tr
                    td height="40"
      tr
        td height="15"
      tr
        table style="align:center; margin:40px auto; " border="0" cellpadding="0" cellspacing="0" width="600"
          tr
            td
              p style="color: #90908D; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; padding-left: 40px; " © Музточка, 2015
      tr
        td height="40"
