$('.dragdrop-items').append('<%= j(render @photos)%>')
<% @photos.each do |photo|%>
  $('#photo_ids').prepend('<input class="photo-ids" id="photo_ids" name="product[photos[' + $('input.photo-ids').length + '][id]]" type="hidden" value="<%= photo.id %>">');
  $('#photo_ids').prepend('<input class="photo-position photo-<%= photo.id %>" id="photo_ids" name="product[photos[' + $('input.photo-position').length + '][position]]" type="hidden" value="' + $('input.photo-position').length + '">');
<% end %>
