.brands_location-top
  .layout-page
    .brands_location-top__text
      |Ознакомься с лучшими  предложениями в твоей стране!
.brands_location.clearfix
  .layout-page
    .countries_list
      - @countries.group_by { |country| country.slice(0).chr.upcase }.each do |initial, countries|
        - countries.each_slice(10) do |slice|

          - slice.each do |country|
            .countries_item
              .countries_title
                a href="#{countries_path}/#{country.parameterize}"
                  = country
              .countries_text
                = Product.where(:country => country).count
                = " объявлений"
