= form_for subscriber, :html => { :id => 'subscribe_form', :remote => true } do |f|
  .inputbox
    = f.text_field :email, :class => 'inputbox__input', :placeholder => 'Ваш e-mail'
  a.button.button_type_default data-disable-with="Отправляю..." href="" id="subscribe_submit" Подписаться
