(function() {
  var $html = $('<%=j render partial: "subscribers/form", locals: { subscriber: @footer_subscriber } %>');

  $('#subscribe_form').replaceWith($html);
  $('#subscribe_form .inputbox').addClass('inputbox_error');
}());
