.brands_location-top
  .layout-page
    .brands_location-top__text
      |Ознакомься с лучшими предложениями в твоем городе!
.brands_location.clearfix
  .layout-page
    .brands_location-dropdown
      .form__label Страна
      = form_tag cities_path, method: 'get', id: 'cities_lists'
        = hidden_field_tag 'country', params[:country]
      #demo.dropdown
        a.dropdown-switch.js-link href="#"
          = params[:country].blank? ? "Выберите страну" : params[:country]
        ul.dropdown-list.js-dropdown-list id="countries_list"
          - Country.all.each do |country|
            li data-id="#{country.name}"
              = country.name
    .brands-item.clearfix
      .brands_ins
        - ('а'..'я').each do |alpha|
          = link_to alpha, cities_path(:alpha => alpha)

        .btn-position
          = link_to "Все", cities_path, :class => "button button_type_default button_active button_size_small"

    - @cities.group_by { |city| city.slice(0).chr.upcase }.each do |initial, cities|
      br
      .brands-item
        - cities.each_slice(4) do |slice|
          .brands-tab
            - slice.each do |city|
              a href="#{countries_path}/#{city[2].parameterize}/#{city[1].parameterize}/#{city[0].parameterize}"
                = city[0]

    br
    .brands-item
      .brands_ins
        - ('а'..'я').each do |alpha|
          = link_to alpha, cities_path(:alpha => alpha)

        .btn-position
          = link_to "Все", cities_path, :class => "button button_type_default button_active button_size_small"
