// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

input[disabled="disabled"]{
  background-color: #F4F4F4;
  border: 0px solid #F4F4F4 !important;
}

.ckeditor > label {
  float: none;
  margin-bottom: 5px;
}

.image-preview {
  height: 135px;
}
