.brands-top
  .layout-page
    .brands-top__text
      | Бренды
.brands.clearfix
  .layout-page
    .brands-item.clearfix
      .brands_ins
        - ('a'..'z').each do |alpha|
          = link_to alpha, brands_path(:alpha => alpha)
        = link_to "#", brands_path(:digit => "all")
      .brands_ins
        - ('а'..'я').each do |alpha|
          = link_to alpha, brands_path(:alpha => alpha)

        .btn-position
          = link_to "Все", brands_path, :class => "button button_type_default button_active button_size_small"


    - @brands.group_by(&:initial).each do |initial, brands|
      br
      .brands-item
        - brands.each_slice(10) do |slice|
          .brands-tab
            - slice.each do |brand|
              = link_to brand
                = brand.title

    br
    .brands-item
      .brands_ins
        - ('a'..'z').each do |alpha|
          = link_to alpha, brands_path(:alpha => alpha)
        = link_to "#", brands_path(:digit => "all")
      .brands_ins
        - ('а'..'я').each do |alpha|
          = link_to alpha, brands_path(:alpha => alpha)

        .btn-position
          = link_to "Все", brands_path, :class => "button button_type_default button_active button_size_small"
