doctype html
html
  head
    title
    meta charset="utf-8"

  body bgcolor="#F1F1EA"
    table align="center" bgcolor="#F1F1EA" border="0" cellpadding="0" cellspacing="0" width="100%"
      tr
        td height="40"
      tr
        td
          table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" style=("border-radius: 2px") width="600"
            tr
              td
                table align="center" border="0" cellpadding="0" cellspacing="0" width="520"
                  tr
                    td height="40"
                  tr
                    td height="40"
                      = link_to "https://muztochka.com"
                        = image_tag "email/logo.png"
                  tr
                    td height="20"
            tr
              td
                div style=("color: #fff; font-family: 'PT Sans', Arial, sans-serif; font-size: 24px; line-height: 30px; font-weight: 700; background-image: url('bg_mail.jpg'); padding: 40px; text-transform: uppercase; ")
                  p style=("font-size: 30px;") Привет, Костя
                  p style=("font-size: 20px;") Присоединяйтесь к новому и современному международному порталу музыкальных объявлений!
            tr
              td
                table align="center" border="0" cellpadding="0" cellspacing="0" width="520"
                  tr
                    td height="20"
                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0;") Мы бесплатно разместим объявления о продаже ваших музыкальных инструментов и оборудования;

                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0") мы бесплатно разместим все Ваши объявления в неограниченном количестве автоматически через XML, Excel, CSV и т.п.;

                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0") Наш портал создан музыкантами для музыкантов, поэтому мы объективно оцениваем потребности данной аудитории и знаем, какие маркетинговые решения будут для нее самыми эффективными.
                  tr
                    td height="40"
                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 30px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0; color: #D47A00; text-transform: uppercase;") Почему Музточка?

                  tr
                    td
                      p style=("color: #353535; font-family: 'PT Sans', Arial, sans-serif; font-size: 30px; line-height: 24px; font-weight: 400; margin: 0 0 20px 0; padding: 0; color: #353535У; text-transform: uppercase;") нас много преимуществ.
                  tr
                    td height="40"
                  tr
                    td
                      a href="" style=("border-radius: 2px; text-decoration: none; height: 48px; line-height: 48px; display: inline-block; padding: 0 20px 0 50px;font-family: 'PT Sans', Arial, sans-serif; font-size: 20px; text-align: center; color: #fff; background-color: #D47A00; text-transform: uppercase; background-image: url('plus_mail.png')") продать
                  tr
                    td height="40"
      tr
        td height="15"
      tr
        table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
          tr
            td
              p style=("color: #90908D; font-family: 'PT Sans', Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0; padding: 0;") © Музточка, 2015
      tr
        td height="40"
