p
  .description_products
    = @product.description.try(:html_safe)
- if @product.video.present?
  .product-video
    .product-video__head
      i.icon-video
      | Видео
    .product-video__wrap
      .iframe-wrp
        iframe allowfullscreen="" frameborder="0" height="360" src="#{@product.video}" width="580"
.product-about
  .product-about__head
    i.icon-inform
    | Спецификация
  ul.product-about__list
    li
      span.product-about__title Состояние:
      span.product-about__text
        =< @product.condition
    li
      span.product-about__title Бренд:
      span.product-about__text
        =< @product.brand.try(:title)
    li
      span.product-about__title Модель:
      span.product-about__text
        =< @product.mark


    - if @product.color.present?
      li
        span.product-about__title Цвет:
        span.product-about__text
          =< @product.color
    li
      span.product-about__title Категория:
      span.product-about__text
        =< @product.category.title
        - unless @product.detail.blank?
          = ","
          =< @product.detail.title


    - if @product.year.present?
      li
        span.product-about__title Год выпуска:
        span.product-about__text
          =< @product.year


    - if @product.country_producing.present?
      li
        span.product-about__title Производитель:
        span.product-about__text
          =< @product.country_producing

  - if @product.formatted_address.present?
    p
    .product-about__head
      i.icon-pin
      | Местонахождение товара
    .product-delivery__text
      = @product.formatted_address
