.layout-page
  div style="display:none;"
    = form_for  Photo.new, :html => { :multipart => true },  remote: true do |f|
      = f.file_field :image, :id => 'image_input',  multiple: "true", data_sequential_uploads: "true"
  = render 'form'
