html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
fieldset,
form,
input,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
._hidden {
  display: none !important;
}
.bold {
  font-family: "PT Sans";
  font-weight: 700;
}
a {
  color: #d47a00;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #e38e1c;
}
a:active,
a:focus {
  outline: medium none;
}
a img {
  border: 0 none;
}
body {
  font-family: "PT Sans";
  background: #f1f1eb;
  -webkit-font-smoothing: antialiased;
}
.link-grey {
  color: #dcdccd;
}
.link-grey:hover {
  color: #d47a00;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
