.description_products {
  font-size: 14px;
  color: #4d4d4d;
}
.description_products ol {
  padding-left: 20px;
}
.description_products li {
  list-style: inherit;
  font-weight: normal;
  counter-increment: item;
}
.description_products ul {
  padding-left: 20px;
  list-style: disc;
}
.description_products a {
  text-decoration: underline;
}
.description_products ol > li:before {
  content: counter(item) ". ";
  font-weight: bold;
}
.description_products ol>li {
  padding-left: 20px;
}
