link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://muztochka.com/favicon/apple-touch-icon-57x57.png"
link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://muztochka.com/favicon/apple-touch-icon-114x114.png"
link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://muztochka.com/favicon/apple-touch-icon-72x72.png"
link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://muztochka.com/favicon/apple-touch-icon-144x144.png"
link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://muztochka.com/favicon/apple-touch-icon-60x60.png"
link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://muztochka.com/favicon/apple-touch-icon-120x120.png"
link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://muztochka.com/favicon/apple-touch-icon-76x76.png"
link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://muztochka.com/favicon/apple-touch-icon-152x152.png"

link rel="icon" type="image/png" sizes="196x196" href="https://muztochka.com/favicon/favicon-196x196.png"
link rel="icon" type="image/png" sizes="96x96" href="https://muztochka.com/favicon/favicon-96x96.png"
link rel="icon" type="image/png" sizes="32x32" href="https://muztochka.com/favicon/favicon-32x32.png"
link rel="icon" type="image/png" sizes="16x16" href="https://muztochka.com/favicon/favicon-16x16.png"
link rel="icon" type="image/png" sizes="128x128" href="https://muztochka.com/favicon/favicon-128.png"

meta name="msapplication-TileColor" content="#FFFFFF"
meta name="msapplication-TileImage" content="https://muztochka.com/favicon/mstile-144x144.png"
meta name="msapplication-square70x70logo" content="https://muztochka.com/favicon/mstile-70x70.png"
meta name="msapplication-square150x150logo" content="https://muztochka.com/favicon/mstile-150x150.png"
meta name="msapplication-wide310x150logo" content="https://muztochka.com/favicon/mstile-310x150.png"
meta name="msapplication-square310x310logo" content="https://muztochka.com/favicon/mstile-310x310.png"
