doctype html
html
  head
    = display_meta_tags
    meta http-equiv="content-type" content="text/html; charset=utf-8"
    meta name='yandex-verification' content='6931f3c03ff07d8e'
    meta name="viewport" content="width=device-width"
    meta property='fb:app_id' content="#{ENV['FACEBOOK_KEY']}"
    = yield :head

    - if params[:main_filter] or params[:search]
      meta name="robots" content="noindex, nofollow"

    - if params[:page] or params[:alpha]
      meta name="robots" content="noindex,follow"

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = Gon::Base.render_data({})
    = csrf_meta_tags
    = render "layouts/favicons"

    /! Start of Zopim Live Chat Script
    javascript:
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="//v2.zopim.com/?3Uk1ZNpnSC8ZgbgQxGSk0E44SqNXIG2N";z.t=+new Date;$.
      type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    /! End of Zopim Live Chat Script


  body
    noscript
      iframe src="//www.googletagmanager.com/ns.html?id=GTM-MPW4FD" height="0" width="0" style="display:none;visibility:hidden"

    javascript:
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MPW4FD');




    - unless user_signed_in?
      = render 'shared/login'
      = render 'shared/register'
      = render 'shared/new_password'
      = render 'shared/password_recovery'
    = render 'shared/subscribe'
    = render 'shared/feedback'
    - if user_signed_in? && params[:set_password].present?
      = render 'shared/new_password'
    - if user_signed_in?
      = render 'shared/email_blank'
      - unless current_user.encrypted_password.blank?
        = render 'shared/password_edit'
    .wraper
      .layout
        = render 'shared/header'
        - unless flash[:notice].blank?
          .flash-message id="flash__open"
            .flash-message__inner
              = flash[:notice]
              a.flash-message__close id="flash__close"
                i.icon-cancel
        - unless params[:error].blank?
          .flash-message id="flash__open"
            .flash-message__inner
              = "Аккаунт с таким email уже зарегистрирован"
              a.flash-message__close id="flash__close"
                i.icon-cancel
        = yield
    footer.footer.clearfix
      - if @category or @subcategory or @geo
        = render "shared/footer_seo"
      .footer_layout.clearfix
        .layout-page
          .footer-top.clearfix
            .footer-logo
              = image_tag "logo/logo.svg"
            / .footer-sign Подписаться на новости
            / = render :partial => "subscribers/form", locals: { subscriber: @footer_subscriber }
          .footer-col
            .footer-title
              | Помощь
            ul.footer-list
              li
                = link_to "Почему Музточка?", why_muzpoint_path, :class => "footer-link"
              li
                = link_to "FAQ", faq_path, :class => "footer-link"
              li
                = link_to "Реклама", how_advertising_works_path, :class => "footer-link"
              li
                | © Музточка, 2016
          .footer-col
            .footer-title
              | О нас
            ul.footer-list
              li
                = link_to "О нас", about_path, :class => "footer-link"
              li
                = link_to "Условия использования", terms_of_use_path, :class => "footer-link"
              li
                a.footer-link id="feedback_button_alt" href="" Связаться с нами
          .footer-col
            .footer-title
              | Навигация
            ul.footer-list
              li
                = link_to "Смотреть по городу", cities_path, class: "footer-link"
              li
                = link_to "Смотреть по стране", countries_path, class: "footer-link"
              li
                = link_to "Смотреть по бренду", brands_path, class: "footer-link"
          .footer-col
            .footer-title
              | Мы в социальных сетях
            ul.footer-social
              li
                a href="https://twitter.com/Muztochka" target="_blank" rel="nofollow"
                  i.icon-twitter
              li
                a href="https://www.facebook.com/muztochka?_rdr" target="_blank" rel="nofollow"
                  i.icon-facebook
              li
                a href="https://plus.google.com/u/0/110281372284481490394/posts" target="_blank" rel="nofollow"
                  i.icon-google
              li
                a href="http://vk.com/muztochkacom" target="_blank" rel="nofollow"
                  i.icon-vk
            ul.footer-list
              li.made_by
                |Made by
                = " "
                a href="http://thedigitalcrafters.com" target="_blank"
                  |Digital Crafters





    javascript:
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter30700073 = new Ya.Metrika({id:30700073,
                          webvisor:true,
                          clickmap:true});
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");


    noscript
      div
        img src="//mc.yandex.ru/watch/30700073" style="position:absolute; left:-9999px;" alt=""



